.my-masonry-grid {
display: flex;
margin-left: -20px;
  }
  .my-masonry-grid_column {
border-left: 20px solid transparent;
background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    
    margin-bottom: 20px;
  }
  .my-masonry-grid_column > div > a{
    padding: 20px;
    display: block;
    color:#333;
    text-decoration: none;
    background: #ddd;
  }
  .my-masonry-grid_column > div > a:hover{
    color:#000;
    background: #eee;
   
  }
  .character{
    width: 100%;
  }
  .char_name{
    padding: 10px 0;
    font-size: 16px;
  }
nav{
  background-color: antiquewhite;
}
nav ul{
  margin: 0 0 10px 0;
  display: flex;
  padding: 10px;
  list-style-type: none;
}
nav ul li {
  padding: 5px;
}